body {
    margin: 30px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 120px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    background: #FFB703;
    color: #023047;
    border-left: 10px solid #219EBC;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #FB8500;
    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
